.a, .b, .c, .d, .e, .f, .g, .h, .i {
  background-color: #d8d8d8;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.a {
  height: 75px;
}

.b {
  height: 150px;
}

.c, .d {
  height: 125px;
}

.e, .f, .g, .h {
  width: 50%;
  height: 250px;
  display: inline-block;
  font-size: 12px;
}

.e, .g {
  float: left;
}

.f, .h {
  float: right;
}

.i {
  height: 80px;
}

.clearfix {
  overflow: hidden;
}

@media only screen and (min-width: 769px) {
  body {
    max-width: 958px;
  }
  .a {
    width: 100%;
    height: 100px;
  }
  .b {
    height: 598px;
    width: 198px;
    float: left;
  }

  .cd-container {
    display: flex;
  }

  .c, .d {
    width: 382px;
    height: 198px;
  }

  .c {
    float: left;
  }

  .d {
    float: right;
  }

  .efgh-container {
    display: flex;
    height: 250px;
  }
  .e, .f, .g, .h {
    height: 250px;
    width: 190px;
    float: left;
  }
  .i {
    height: 148px;
  }
}