.a, .b, .c, .d, .e, .f, .g, .h, .i {
  background-color: #d8d8d8;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.a {
  height: 75px;
  line-height: 3.5em;
}

.b {
  height: 150px;
  line-height: 7.5em;
}

.c, .d {
  height: 125px;
  line-height: 6em;
}

.e, .f, .g, .h {
  flex-basis: 50%;
  height: 250px;
  font-size: 20px;
  line-height: 12.5em;
}

.i {
  height: 80px;
  line-height: 4em;
}

@media only screen and (min-width: 769px) {
  body {
    max-width: 958px;
  }
  .a {
    width: 100%;
    height: 98px;
    line-height: 5em;
  }
  .b {
    height: 598px;
    width: 198px;
    float: left;
    line-height: 30em;
  }

  .cd-container {
    display: flex;
  }

  .c, .d {
    width: 380px;
    height: 198px;
    line-height: 10em;
  }

  .c {
    float: left;
  }

  .d {
    float: right;
  }

  .efgh-container {
    display: flex;
    height: 250px;
  }
  .e, .f, .g, .h {
    height: 250px;
    width: 190px;
    /* float: left; */
    line-height: 12.5em;
  }
  .i {
    height: 148px;
    width: 100%;
    line-height: 7em;
  }
}